.container{
  margin-bottom: 100px;
}
.orange-bg{
  background-color: #fceae8;
  border-radius: 10px;
}

.carousel-item{
  padding: 20px 40px;
}
.price{
  color: #FF136f;
}
.buy-now-btn{
background-image:linear-gradient(45deg,#FF589B,#FF136f) ;
color: aliceblue;
border: none;
border-radius: 6px;
padding: 6px 20px;
cursor: pointer;
}
.cat1, .cat2, .cat3{
  padding: 10px 30px;
  border-radius: 10px;
}
.cat1{
  background-color: orange;
}
.cat2{
  background-color: orchid;
}
.cat3{
  background-color: blueviolet;
}
.categories h1{
  color: white;
}
.categories img{
  width: 110px;
}
.card{
  border: none;
  box-shadow: 5px 5px 10px lightblue;
}
.card-footer{
  border-top: none;
background-color: white;
}
#contact{
  height: 300px;
}
#contact h6{
  color: gray;
}
footer{
  text-align: center;
}